/* Text*/
.text-center {
  text-align: center;
}
.heading-small {
  font-size: 1.25rem;
}
.heading-medium {
  font-size: 1.5rem;
}
.heading-big {
  font-size: 1.75rem;
}
/* Colors */

.bg-dark-blue {
  background-color: #1d509e;
}
.bg-light-blue {
  background-color: #0466fa;
}
/* Container */

.container {
  max-width: 1100px;
  margin: 0 auto;
}
/* Buttons */
.btn {
  margin-top: 1rem;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  letter-spacing: 1px;
}
.btn-primary {
  background-color: #1d509e;
}
.btn-primary:hover {
  background-color: #fff;
  color: #1d509e;
  border: 1px solid #1d509e;
}
.btn-dark {
  background-color: #2300ff;
}
.btn-dark:hover {
  color: #2300ff;
  background-color: #fff;
  border: 1px solid #2300ff;
}
.btn-block {
  width: 100%;
  text-align: center;
}
/* Forms*/
.form-group {
  padding: 0.25rem 0;
}
.form-group label {
  display: block;
  font-size: 1.5rem;
  text-align: left;
}
.form-control {
  width: 100%;
  padding: 0.75rem 0.75rem 0.75rem 0.5rem;
  font-size: 1rem;
  resize: none;
}
/* Images */
.photo {
  width: 300px;
  height: 300px;
}
