header {
  width: 452px;
}
#navbar {
  flex-direction: column;
  padding: 1rem 0;
  overflow: hidden;
  height: 6.5rem;
}
#home {
  width: 452px;
}
#home img {
  margin: 0 auto;
}
#training {
  width: 452px;
}
#training .items {
  flex-direction: column;
}
#training .items .item {
  width: 100%;
}
.courses .course {
  flex-direction: column;
}
.courses .course .course-info {
  margin: 0 auto;
  width: 100%;
}
